<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de prestamos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}">
</head>
<body>

<div class="container mt-4 mb-5">
    <h1 class="mb-4">
        <i class="fa-solid fa-bounce me-2"></i>Lista de prestamos
    </h1>
    <a th:href="@{/prestamo/construccion}" class="btn btn-success mb-3">
        <i class="fa-solid fa-plus me-2"></i>Insertar nuevo prestamo
    </a>

    <div th:unless="${prestamos.isEmpty()}" class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th><i class="fa-solid fa-hashtag me-1"></i>ID</th>
                <th><i class="fa-solid me-1"></i>Libro</th>
                <th><i class="fa-solid me-1"></i>Socio</th>
                <th><i class="fa-solid me-1"></i>Fecha de entrega</th>
                <th><i class="fa-solid me-1"></i>Fecha de devolución</th>
                <th><i class="fa-solid fa-gears me-1"></i>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="prestamo : ${prestamos}" class="align-middle">
                <td th:text="${prestamo.id}"></td>
                <td th:text="${prestamo.libro.titulo}"></td>
                <td th:text="${prestamo.socio.nombre}"></td>
                <td th:text="${prestamo.fechaEntrega}"></td>
                <td th:text="${prestamo.fechaDevolucion}"></td>
                <td>
                    <div class="d-flex gap-1">
                        <a th:href="@{/prestamo/{id}(id=${prestamo.id})}"
                           class="btn btn-primary btn-sm"
                           title="Ver detalle">
                            <i class="fa-solid fa-eye me-1"></i>Ver
                        </a>
                        <a th:href="@{prestamos/{id}/edit(id=${prestamo.id})}"
                           class="btn btn-warning btn-sm"
                           title="Editar prestamo">
                            <i class="fa-solid fa-file-pen me-1"></i>Editar
                        </a>

                        <button type="button"
                                class="btn btn-danger btn-sm btn-delete"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmDeleteModal"
                                th:data-prestamo-id="${prestamo.id}"
                                title="Eliminar prestamo">
                            <i class="fa-solid fa-trash me-1"></i>Borrar
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>