<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de categoria</title>
</head>
<body>
<div>
    <h1>Detalle de categoria</h1>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <div th:if="${categoria}">

        <div>
            <strong>ID:</strong> <span th:text="${categoria.id}"></span>
        </div>
        <div>
            <strong>Nombre:</strong> <span th:text="${categoria.nombre}"></span>
        </div>
        <div>
            <strong>Descripcion:</strong> <span th:text="${categoria.descripcion}"></span>
        </div>

    </div>

    <div>
        <a th:href="@{/categoria}">Volver al listado de categorias</a>
    </div>
</div>

</body>
</html>